*{
	padding: 0;
	margin: 0;
	border: 0;
}
*,*:before,*:after{
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
:focus,:active{outline: none;}
a:focus,a:active{outline: none;}

nav,footer,header,aside{display: block;}

html,body{
	height: 100%;
	width: 100%;
	font-size: 100%;
	line-height: 1;
	font-size: 14px;
	-ms-text-size-adjust: 100%;
	-moz-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
}
input,button,textarea{font-family:inherit;}

input::-ms-clear{display: none;}
button{cursor: pointer;}
button::-moz-focus-inner {padding:0;border:0;}
a, a:visited{text-decoration: none;}
a:hover{text-decoration: none;}
ul li{list-style: none;}
img{vertical-align: top;}

h1,h2,h3,h4,h5,h6{font-size:inherit;font-weight: 400;}

body{height:100%;}
.container{
	min-height:100%;
	display:flex;
	flex-direction:column;
}
body{
	background-color:#F8F9F9;
}
/*-----------------------------------*/

.topHeader{
	padding-top:35px;
	padding-bottom:35px;
	display: flex;
	justify-content: space-around;
	background-color: white;
}
.bottomHeader{
	border-bottom: 1px solid black;
	-webkit-box-shadow: 0px 11px 24px -1px rgba(34, 60, 80, 0.2);
	-moz-box-shadow: 0px 11px 24px -1px rgba(34, 60, 80, 0.2);
	box-shadow: 0px 11px 24px -1px rgba(34, 60, 80, 0.2);
}
#Logo{
	width:100%;
	height:40px;
}



#BL1{
	position:relative;
	color:white;
	background: #D81B1B;
	background: rgb(234,0,44);
	background: linear-gradient(104deg, rgba(234,0,44,1) 11%, rgba(248,92,31,1) 88%);
	border-radius: 3px;
	padding-right: 30px;
	padding-left: 30px;
	top:15px;
	padding-top:15px;
	padding-bottom:15px;
	font-weight: bold;
	font-size: 14px;
	font-family:DejaVu Sans Mono, monospace;
}
#BL1:hover{
	background: rgb(248,92,31);
	background: linear-gradient(104deg, rgba(248,92,31,1) 16%, rgba(234,0,44,1) 93%);
}

/*  work with canvas  */



.content{
	margin-top: 60px;
	margin-left: 120px;
	margin-right: 120px;
}
.a3D-panel{
	float:left;
}

#canvasForModels{
	-webkit-box-shadow: 0px 11px 24px -1px rgba(34, 60, 80, 0.2);
	-moz-box-shadow: 0px 11px 24px -1px rgba(34, 60, 80, 0.2);
	box-shadow: 0px 11px 24px -1px rgba(34, 60, 80, 0.2);
	border-radius: 10px;
}

.changer_weapons{
	background-color:white;
	margin-left: 40px;
	margin-bottom: 40px;
	float:right;
	border-radius: 10px;
	overflow-y:scroll;
	-webkit-box-shadow: 0px 0px 24px -5px rgba(34, 60, 80, 0.2);
	-moz-box-shadow: 0px 0px 24px -5px rgba(34, 60, 80, 0.2);
	box-shadow: 0px 0px 24px -5px rgba(34, 60, 80, 0.2);
}

.changer_outfit{
	background-color:white;
	clear:both;
	height: 150px;
	border-radius: 10px;
	overflow-x:scroll;
	-webkit-box-shadow: 0px 0px 24px -5px rgba(34, 60, 80, 0.2);
	-moz-box-shadow: 0px 0px 24px -5px rgba(34, 60, 80, 0.2);
	box-shadow: 0px 0px 24px -5px rgba(34, 60, 80, 0.2);
}


/* bottom */
#re18L{
	float: right;
	margin-top:20px;
}
#re18{
	width:45px;
	height:40px;
}
.bottom{
	margin-top: 50px;
	background-color:black;
}
.contentBottom{
	margin-left: 120px;
	margin-right:120px;
}
.topBottomText{
	padding-top:10px;
	padding-bottom: 10px;
}
.bottomBottomText{
	padding-top:15px;
	padding-bottom: 15px;
}
#contacts{
	display:flex;
}
#OOO{
	font-size: 15px;
	color:white;
	font-family:DejaVu Sans Mono, monospace;
}
#elContacts{
	transition-duration: 0.1s;
	font-size: 15px;
	margin-right: 20px;
	color:white;
	font-family:DejaVu Sans Mono, monospace;
}

#elContacts:hover{
	transition-duration: 0.1s;
	color:#D81B1B;
}