*{
	padding: 0;
	margin: 0;
	border: 0;
}
*,*:before,*:after{
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
:focus,:active{outline: none;}
a:focus,a:active{outline: none;}

nav,footer,header,aside{display: block;}

html,body{
	height: 100%;
	width: 100%;
	font-size: 100%;
	line-height: 1;
	font-size: 14px;
	-ms-text-size-adjust: 100%;
	-moz-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
}
input,button,textarea{font-family:inherit;}

input::-ms-clear{display: none;}
button{cursor: pointer;}
button::-moz-focus-inner {padding:0;border:0;}
a, a:visited{text-decoration: none;}
a:hover{text-decoration: none;}
ul li{list-style: none;}
img{vertical-align: top;}

h1,h2,h3,h4,h5,h6{font-size:inherit;font-weight: 400;}

body{height:100%;}
.container{
	min-height:100%;
	display:flex;
	flex-direction:column;
}
body{
	background-color:#F8F9F9;
}
/*-----------------------------------*/

.topHeader{
	display: flex;
	justify-content: space-between;
	background-color: white;
}
.bottomHeader{
	background-color: black;
	height: 50px;
}
#Logo{
	width:25%;
}
#BL1{
	margin:30px 30px 30px 30px;
	color:white;
	background: #D81B1B;
	background: linear-gradient(116.54deg, #EF0027 10.24%, #FF6C01 105.59%);
	height: 50px;
	border-radius: 5%;
	padding-right: 15px;
	padding-left: 15px;
	/*"Proxima Nova", "Liberation Sans"*/
	font-size: 20px;
	font-family:monospace;
}