{% load static %}

<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'ENGRAVING/css/main.css' %}">
    <title>Document</title>
</head>
<body>
    <header>  
        <div class="topHeader"> 
            <div> 
                <a href="/engraving"><img id="Logo" src="{% static 'ENGRAVING/image/AKLOGO.png'%}"></a> 
            </div>
            <div>
                <a href="https://kalashnikov.club/?referrer=https://kalashnikov.market/feedback"id=BL1>
                    ВОЙТИ В КЛУБ
                </a>
            </div>
        </div>
        <div class="bottomHeader"> 
            
        </div>
    </header> <!-- Дима -->
    <div class="content">
    {% block content %}  
    <!-- Я с Кириллом -->
    {% endblock %}
    </div>
    <bottom>
        <div class="bottom">
            <div class="contentBottom">
                <a id="re18L"><img id="re18" src="{% static 'ENGRAVING/image/age-limit3.png'%}"></a>
                <div class="topBottomText">
                    <p id="OOO">© 2022, ООО «Русское Стрелковое Оружие»</p>
                </div> 
                <div class="bottomBottomText">
                    <ul id="contacts">
                        <li><a id="elContacts" href="https://kalashnikov.market/static/pdf/terms-of-use.pdf">Пользовательское соглашение</a></li>
                        <li><a id="elContacts" href="https://kalashnikov.market/contacts">Адреса магазинов</a></li>
                        <li><a id="elContacts" href="https://kalashnikov.market/feedback">Помощь и поддержка</a></li>
                    </ul>
                </div> 
                
            </div>
        </div>
    </bottom> <!-- Максим -->
</body>
</html>