{% extends "ENGRAVING/base.html" %}
{% load static %}

{% block content %}
<div class="workWeapons">
  <div class="a3D-panel">
      <canvas id="canvasForModels"></canvas>
  </div>
  <div class="changer_weapons">

  </div>
  <div class="changer_outfit">

  </div>
</div>





<script type="text/javascript" src="{% static 'ENGRAVING/js/three.js' %}"></script>
<script type="text/javascript" src="{% static 'ENGRAVING/js/OrbitControls.js' %}"></script>
<script src="https://cdn.rawgit.com/mrdoob/three.js/master/examples/js/loaders/GLTFLoader.js"></script>
<script>
"use strict";
let pannelW = document.querySelector(".changer_weapons");
let widthForPannel = window.innerWidth - (300 + (window.innerWidth/1.5));
let heightForPannel = window.innerHeight/1.5;
pannelW.style.width = String(widthForPannel) + "px";
pannelW.style.height = String(heightForPannel) + "px";
console.log(heightForPannel);

const loader = new THREE.GLTFLoader();
const scene = new THREE.Scene();
var widthW = window.innerWidth/1.5;
var heightW = window.innerHeight/1.5;

var b = document.querySelector("#canvasForModels");
const ratio = widthW / heightW
const camera = new THREE.PerspectiveCamera( 75, ratio, 0.1, 1000 );
var renderer = new THREE.WebGLRenderer({canvas:b});
renderer.setClearColor(0x00E7E7E7)

const path = '{% static 'ENGRAVING/models/shotGun.gltf' %}';

renderer.shadowMapEnabled = true;
renderer.setSize( widthW, heightW );
scene.add( new THREE.AxesHelper(500));
console.log(b);
camera.position.set(0,0,10);
  
var controls = new THREE.OrbitControls( camera,renderer.domElement );


const amlight = new THREE.AmbientLight(0xffffff,1);
const light1 = new THREE.SpotLight(0xffffff,2);
const light2 = new THREE.SpotLight(0xffffff,2);
light2.position.set(0,10,-20);
light2.castShadow = true;
light1.position.set(0,10,20);
light1.castShadow = true;
scene.add( light1,light2 );
scene.add(amlight);


loader.load(path, function ( gltf ) {
  gltf.scene.position.x=0
  scene.add( gltf.scene );

  // Render scene after assets have been added

}, function ( xhr ) {
  console.log( ( xhr.loaded / xhr.total * 100 ) + '% loaded' );
 
}, function ( error ) {
  console.log( 'An error happened' , path);
});
function animate() {
  controls.update();
  renderer.render(scene, camera);
  window.requestAnimationFrame(animate);
}
animate()
</script>
{% endblock %}