{% extends "ENGRAVING/base.html" %}
{% load static %}

{% block content %}
<div class="3D-panel">
    <canvas id="canvasForModels"></canvas>
</div>
<script type="text/javascript" src="{% static 'ENGRAVING/js/three.js' %}"></script>
<script type="text/javascript" src="{% static 'ENGRAVING/js/OrbitControls.js' %}"></script>
<script src="https://cdn.rawgit.com/mrdoob/three.js/master/examples/js/loaders/GLTFLoader.js"></script>
<script>
"use strict";
const loader = new THREE.GLTFLoader();
const scene = new THREE.Scene();

var b = document.querySelector("#canvasForModels");
const ratio = window.innerWidth / window.innerHeight
const camera = new THREE.PerspectiveCamera( 75, ratio, 0.1, 1000 );
var renderer = new THREE.WebGLRenderer({canvas:b});
renderer.setClearColor(0x00E7E7E7)

const path = '{% static 'ENGRAVING/models/quadrocopter.gltf' %}';

camera.lookAt(10,0,0)
renderer.setSize( window.innerWidth, window.innerHeight );

console.log(b)
camera.position.set(10,0,0)

  
var controls = new THREE.OrbitControls( camera,renderer.domElement );
 
const color = 0xFFFFFF;
const intensity = 10;
const lightBottom = new THREE.DirectionalLight(color, intensity);
const lightTop = new THREE.DirectionalLight(color, intensity);
lightTop.position.set(10, 30, 0);
lightTop.target.position.set(0, 0, 0);
lightBottom.position.set(10, -30, 0);
lightBottom.target.position.set(0, 0, 0);
scene.add(lightBottom,lightTop);
scene.add(lightBottom.target,lightTop.target);




loader.load(path, function ( gltf ) {
  gltf.scene.position.x=5
  scene.add( gltf.scene );

  // Render scene after assets have been added

}, function ( xhr ) {
  console.log( ( xhr.loaded / xhr.total * 100 ) + '% loaded' );
 
}, function ( error ) {
  console.log( 'An error happened' , path);
});
function animate() {
  controls.update();
  renderer.render(scene, camera);
  window.requestAnimationFrame(animate);
}
animate()
</script>
{% endblock %}