{% extends "ENGRAVING/base.html" %}
{% load static %}

{% block content %}
<div class="workWeapons">
  <div class="a3D-panel">
      <canvas id="canvasForModels"></canvas>
  </div>
  <div class="changer_outfit">
    <div class="block_of_changer_outfit">
      <ul>
        <li id="el_of_block_of_changer_outfit">
          <h3 id="name_of_type_of_changer_outfit" onclick="ShowElementsCO(0)">Гравировка</h3>
          <ul>
            <li id="el_of_changer_outfit" onclick="LoadGrav(pathsAtCravShotGun[0])">Lily</li>
            <li id="el_of_changer_outfit" onclick="LoadGrav(pathsAtCravShotGun[1])">Rosa</li>
            <li id="el_of_changer_outfit" onclick="LoadGrav(pathsAtCravShotGun[2])">Leaf</li>
          </ul>
        </li>
      </ul>
    </div>
    <div class="send_weapon">
      <button id="button_send_weapon">ЗАКАЗАТЬ</button>
    </div>
  </div>
  <div class="changer_weapons">
    <div class="list_of_weapons">
      <div class="el_of_list_of_weapons" onclick="LoadModel(pathMP,weaponChanger[1])"><img src="{% static 'ENGRAVING/image/shotgun.png' %}"></div>
      <div class="el_of_list_of_weapons" onclick="LoadModel(pathAK,weaponChanger[0])" ><img src="{% static 'ENGRAVING/image/AK-47.png' %}"></div>
      <div class="el_of_list_of_weapons" onclick="LoadModel(pathMAKAROV,weaponChanger[2])"><img src="{% static 'ENGRAVING/image/MakarovPistol.png' %}"></div>
    </div>
    <div class="switcher">
      <img src="{% static 'ENGRAVING/image/left-arrow.png' %}" onclick="Previous()" id="left_arrow">
      <img src="{% static 'ENGRAVING/image/right-arrow.png' %}" onclick="Next()" id="right_arrow">
    </div>
  </div>
</div>





<script type="text/javascript" src="{% static 'ENGRAVING/js/three.js' %}"></script>
<script type="text/javascript" src="{% static 'ENGRAVING/js/OrbitControls.js' %}"></script>
<script src="https://cdn.rawgit.com/mrdoob/three.js/master/examples/js/loaders/GLTFLoader.js"></script>
<script type="text/javascript" src="{% static 'ENGRAVING/js/main.js' %}"> </script>
<script type="text/javascript" src="{% static 'ENGRAVING/js/touchSlider.js' %}"></script>
<script>
"use strict";
const pathsAtCravShotGun = ['{% static "ENGRAVING/models/mp/Lily/shotGunGravirovka.glb" %}',
  '{% static "ENGRAVING/models/mp/Rosa/shotGunGravirovka.glb" %}',
  '{% static "ENGRAVING/models/mp/Leaf/shotGunGravirovka.glb" %}']; 

var weaponChanger = ['ak', 'mp' , 'makarov'];
var weaponMain = "ak";
const pathAK = '{% static "ENGRAVING/models/ak/ak-47.gltf" %}';
const pathMP = '{% static "ENGRAVING/models/mp/mp-135.gltf" %}';
const pathMAKAROV = '{% static "ENGRAVING/models/makarov/pistol_makarov.gltf" %}';


let pannelW = document.querySelector(".changer_outfit");
let widthForPannel = window.innerWidth - (300 + (window.innerWidth/1.5));
let heightForPannel = window.innerHeight/1.5;
pannelW.style.width = String(widthForPannel) + "px";
pannelW.style.height = String(heightForPannel) + "px";

var widthW = window.innerWidth/1.5;
var heightW = window.innerHeight/1.5;
var canvas = document.querySelector("#canvasForModels");

const scene = new THREE.Scene();
const loader = new THREE.GLTFLoader();



const ratio = widthW / heightW;
const camera = new THREE.PerspectiveCamera( 75, ratio, 0.1, 1000 );
var renderer = new THREE.WebGLRenderer({canvas:canvas});
var controls = new THREE.OrbitControls( camera,renderer.domElement );
renderer.setClearColor(0x00E7E7E7)
renderer.setSize( widthW, heightW );
//scene.add( new THREE.AxesHelper(500));
camera.position.set(0,0,3);



const amlight = new THREE.AmbientLight(0xffffff,1);
const light1 = new THREE.SpotLight(0xffffff,4);
const light2 = new THREE.SpotLight(0xffffff,4);
light2.position.set(0,10,-20);
light2.castShadow = true;
light1.position.set(0,10,20);
light1.castShadow = true;
scene.add( light1,light2 );
scene.add(amlight);

function Loader(loadingFile){
  loader.load(loadingFile, function ( gltf ) {
    gltf.scene.position.x=0
    scene.add( gltf.scene );
    animate();


    }, function ( xhr ) {
      console.log( ( xhr.loaded / xhr.total * 100 ) + '% loaded' );
 
    }, function ( error ) {
      console.log( 'An error happened' , loadingFile);
    });
}

function LoadModel(pathToModel,weapon){
    scene.remove(scene.children[scene.children.length - 1]);
    weaponMain = weapon;
    Loader(pathToModel);
}
function LoadGrav(pathToModel){
  if(weaponMain == 'mp'){
    scene.remove(scene.children[scene.children.length - 1]);
    Loader(pathToModel);
  }
}

function animate() {
  controls.update();
  renderer.render(scene, camera);
  window.requestAnimationFrame(animate);
}

Loader(pathAK);

</script>
{% endblock %}